:root {
    background: #F0EDEE
}

#home-link:hover {
    text-decoration: none;
}

.header-link {
    color: #F0EDEE;
}

.header-link:hover {
    color: #EA8C55;
    font-weight: bolder;
}

.header-mobile-link {
    color: #0A090C;
}

.header-mobile-link:hover {
    color: #EA8C55;
    font-weight: bolder;
}